* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
  background: #f4f4f4;
	font-family: 'Inconsolata', monospace;
	color: #514d5b
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

header {
  background: #dbdbdb;
	display: flex;
	justify-content: space-between;
	padding: 10px 2%;
}



.flex {
	display: flex;

}

h1 {
  font-family: 'Mr De Haviland', cursive;
  text-align: center;
	font-size: 2.1rem;
	padding: 10% 0 0 5%;
	color: #5e2d2d;

}


.logo {
    width: 100%;
    max-height: 100px;
    max-width: 100px;
}

.menu ul li {
font-size: 1.5rem;
}

.desktop-menu {
	display:none;
}


footer {
	  background: #dbdbdb;
		display: flex;
		justify-content:space-around;
		margin: auto;
		width: 94%;
    padding: 3%;

}

footer ul li a {
	color: #5c785c;
	max-width: 100%;

}


footer ul li {
	list-style-type: none;
}

footer h3 {
	font-size: 1.2em;
  padding: 10px 0;
}

footer h4 {
	padding: 25px 2% 15px 5%;
	font-size: .7rem;
}



/**************************Hamburger Menu Styles Start****************************/
.hamburger{
  background:none;
  /* position:absolute;
  top:14px;
  right:0;
	left: 87%; */
  line-height:45px;
  padding:5px 8% 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  /* position:absolute;
  top:11px;
  right:0;
	left: 88%; */
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
/**************************END Hamburger Menu Styles End ****************************/


/**************************Start HOMEPAGE STYLES ****************************/

.homepage-img {
		background-image: url("images/succulents-crop.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
}

/**************************END HOMEPAGE STYLES ****************************/
/**************************START ABOUT PAGE STYLES ****************************/

.about-main {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.about-main h2 {
	font-size: 2.5rem;
  padding: 5% 0 0 6%;
}
.about-container {
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.about-container figure.crane a img {
    width: 46%;
    max-width: 594px;
    padding: 13% 0 1% 0;
}

.about-container figure.crane figcaption {
		font-size: .8em;
		text-align: center;
		padding-bottom:10%;
}

.about-container .about-subflex img {
    width: 73%;
    max-width: 322px;
    padding: 25% 0 10% 0;
	}


	.about-subflex p {
		    text-align: left;
		    font-size: .9em;
		    padding: 4% 20% 10% 22%;
		}
/**********************END ABOUT PAGE STYLES ****************************/
/**************************START DIGITAL PAGE STYLES ****************************/
.digital-main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-top:22%;
}

.digital-main h2 {
    font-size: 2.2em;
    padding: 0 0 18% 7%;
}
.digital-main figure a img {
	width: 70%;
}

.digital-main figcaption {
    text-align: center;
    font-size: .8em;
    padding-bottom: 17%;
}
/**************************END DIGITAL PAGE STYLES ****************************/


/**************************FINE-ART PAGE STYLES ****************************/

.fine-art{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.fine-art-main {
	flex: 1
}

.fine-art-main h2 {
	padding: 4% 0 0 4%;
	font-size: 2rem;
	flex: 1;
	 }

.fine-art-main p {
	padding: 9% 4% 7% 5%;
 }

.gallery {
	display: block;
}

 .gallery figure {
	  width: 50%;
	  max-width: 1200px;
	  padding: 3% 20% 1% 20%;

 }

.gallery img {
	max-width: 1200px;
	width:100%;
	flex-direction: column;
}

.gallery figcaption {
	font-size: .7rem;
	padding-bottom: 11%;
}

aside {
 	padding: 9% 0 7% 4%;

}

aside p {
	margin-right: 4%;
}

.fine-art .back-to-top {
	padding-bottom: 3%;
	text-align: center;
}
 .back-to-top a{
	text-decoration: none;
	font-family: 'Inconsolata', monospace;
	color: #5c785c;
	font-size: .9rem;
	background:#f4f4f4;
}


/**************************END FINE-ART PAGE STYLES ****************************/
/**************************START MIN-WIDTH 600 MEDIA QUERY ****************************/
/*about page*/
@media (min-width:600px) {
	.about-figure img {
    width: 50%;
    max-width: 594px;
    padding-bottom: 0%;
    padding-top: 40%

}
}



/**************************END MIN-WIDTH 600 MEDIA QUERY ****************************/

/**************************START MIN-WIDTH 775 MEDIA QUERY ****************************/

@media (min-width: 775px) {
	.flex {
		display: flex;
		width: 58%;
	}

.menu, .hamburger, .cross {
	display: none;
}

.desktop-menu {
	display: block;
	float: right;
	width: 43%;
	text-align: right;
	margin-bottom: 32px;
	}

	.desktop-menu ul {
		padding-top: 10px;
	}
	.desktop-menu ul li {
		display: inline-block;
    padding: 4% 3%;
    margin-top: 5%;
	}

	.desktop-menu ul li a{
		color: #5c785c;
		font-size: 1.1rem;
	}

	h1 {
		font-size: 4rem;
		padding-top: 4%

	}



/*Fine Art section */
.gallery-container {
	background: #efe9e9;

}
.fine-art-main {
font-size: 1.2rem;
		background: #fbf1f1;

	}

	.gallery figure {
		width: 48%;
		max-width: 1200px;
		padding: 2% 4% 1% 26%;
	}

aside {
	padding: 0% 0 7% 4%;
	background: #efe9e9;

}

aside p {
	margin-right: 4%;
	padding-top:7%;
}

.back-to-top {
 background:#efe9e9;
}

.back-to-top a {
 background:#efe9e9;
}


.fine-art-footer {
	clear: both;
}
/*digital 775 start*/

.digital-main {
	padding: 0%;
	display: flex;
	flex:1;
}
.digital-subflex {
	display: flex;
}

.digital-main h2 {
    font-size: 2.2em;
		align-self: flex-start;
    padding: 0 0 18% 7%;
}
}
/**************************END MIN-WIDTH 775 MEDIA QUERY ****************************/

/**************************START MIN WIDTH 850 MEDIA QUERY ****************************/

@media (min-width: 850px) {
	.homepage-img {
			    background-position: 50% 28%;
	}
/*about 850 start*/

.about-container {
	flex-direction: row;
}

figure.crane {
    width: 50%;
}

figure.crane a {
    padding: 0 31% 0 0;
}

.crane figcaption {
    padding: 0 1% 5% 13%;
		width: 47%;
}
about-container figure.crane a img {
		width: 50%;
    padding-right:4%;
	}

	.about-subflex {
		width: 50%;
		padding-top: 7%;
	}

	.about-container .about-subflex img {
		width: 50%;
		padding: 6% 0 10% 0;
	}

	.about-subflex p {
		line-height: 19px;
    font-size: .9em;
    padding: 20% 23% 4% 27%
	}



/*about 850 end */


/*digital 850 start */
.digital-main h2 {
    font-size: 2.5em;
    padding: 2% 0 14% 7%;
}

/*fine art*/

aside {
 	padding: 6% 0 7% 4%;
}

aside p {
	padding: 2% 0 3% 0;
}

section .about-flex {
	display: flex;
}
}

/*fine art end*/

/**************************END MIN WIDTH 850 MEDIA QUERY ****************************/

/**************************START MIN-WIDTH 1350 MEDIA QUERY ****************************/

@media (min-width: 1350px) {

/*START ABOUT 1350  section */



/*END ABOUT section */


/*START 1350 Fine Art section */
.fine-art {
	margin: 0 auto;
}

.gallery-container {
		max-width: 1350px;
		margin: auto;
		display: flex;

	}

.fine-art-main {
	max-width: 1350px;
	margin: 0 auto;
	min-height: 67vh;
	padding-top: 6%;
}

.fine-art-main h2 {
    font-size: 3rem;
	}

.gallery-container {
	background: #fbf1f1;
}
.gallery {
	display: flex;
	flex-direction: row;
	width: 98%;
	max-width: 1350px;
	margin: 0 auto;
}

.gallery-figure {
	padding: 0;
}

.gallery figure, .gallery figcaption {
	padding: 0 2%;
	}


.gallery figure a {

}

.gallery figure a img {
    width: 99%;
    justify-content: space-between;
	}

aside {
	width: 20%;
	padding: 19% 0% 13% 3%;
	line-height: 2rem;
	font-size: 1.3rem
}

.back-to-top {
    display: none;
}
}
/*Fine Art section */

/**************************END MIN-WIDTH 1350 MEDIA QUERY ****************************/
